<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class='nav-header'>
                <li class="nav-field"><a class="active" ng-href='venue'>Parking List</a></li>
                <li ng-hide='vm.company_id==0' class="nav-field"><a ng-href="company">My Venue</a></li>
                <li ng-hide='vm.company_id==0' class="nav-field"><a ng-href="reservations">Reservations</a></li>
                <li ng-hide='vm.company_id==0' class="nav-field"><a ng-href="prices">Prices</a></li>
                <li ng-hide='vm.reservation_count==0' class="nav-field"><a ng-href="my-reservation">My Reservations</a></li>
                <li class="nav-field" style="float:right"><a class="active btn btn-md btn-danger" style='color: white'
                        ng-click="vm.SignOut()">Sign
                        Out</a></li>
                <li class="nav-field" ng-show='vm.company_id==0' style="float:right; padding-right: 10px"><a class="btn btn-md btn-success"
                        style='color: white' data-toggle="modal" data-target="#company">Create Company</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <ul class='search-header'>
                <li class="nav-field col-sm-4">
                    <form class="form-group" ng-submit='vm.Search()'>
                        <input type='text' class='form-control' ng-model="vm.my_reservation_search.search" placeholder="Parking name.." />
                    </form>
                </li>
                <li class="nav-field col-sm-2">
                    <div class="input-group" moment-picker="vm.my_reservation_search.book_from" change="vm.Search()"
                        format="YYYY-MM-DD hh:mm:ss A">
                        <span class="input-group-addon">
                            <i class="octicon octicon-calendar"></i>
                        </span>
                        <input class="form-control" placeholder="Select a date" ng-model='vm.my_reservation_search.book_from'
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </li>

                <li class="nav-field col-sm-2">
                    <div class="input-group" moment-picker="vm.my_reservation_search.book_to" change="vm.Search()"
                        format="YYYY-MM-DD hh:mm:ss A" change='vm.Search()'>
                        <span class="input-group-addon">
                            <i class="octicon octicon-calendar"></i>
                        </span>
                        <input class="form-control" placeholder="Select a date" ng-model='vm.my_reservation_search.book_to'
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </li>

                <li class="nav-field">
                    <button class='btn btn-md btn-danger' ng-click="vm.Reset()">Reset</button>
                </li>
                <li class="nav-field">
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br />
            <ul class='info-header'>
                <li class="nav-field col-xs-2">
                    <button class='btn btn-primary' ng-disabled="vm.my_reservation_list.previous===''" ng-click='vm.MyReservationList(vm.my_reservation_list.previous)'>Previous</button>
                </li>
                <li class="nav-field col-xs-2">
                    &nbsp;
                    <button class='btn btn-primary' ng-disabled="!vm.my_reservation_list.next" ng-click='vm.MyReservationList(vm.reservation_list.next)'>Next</button>
                </li>
                <li class="nav-field col-sm-4">
                    <p class="text-center">
                        Current record:-{{vm.my_reservation_list.results.length}}
                    </p>
                </li>
                <li class="nav-field col-sm-6">
                    <p class="text-right">
                        Total record found:-{{vm.my_reservation_list.count}}
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br />
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Venue Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Contact no</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
                <tr ng-repeat='reservation in vm.my_reservation_list.results'>
                    <td></td>
                    <td>{{reservation.venue.name}}</td>
                    <td>{{reservation.book_from | date:'yyyy-MM-dd HH:mm a'}}</td>
                    <td>{{reservation.book_to | date:'yyyy-MM-dd HH:mm a'}}</td>
                    <td>{{reservation.phone_number}}</td>
                    <td>{{reservation.status}}</td>
                    <td>
                        <button ng-hide="reservation.payment_status === 'closed' || reservation.status === 'canceled'"
                            class="btn btn-primary">Pay</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>