<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class='nav-header'>
                <li class="nav-field"><a class="active" ng-href='venue'>Parking List</a></li>
                <li ng-show='vm.company_count' class="nav-field"><a ng-href="company">My Company</a></li>
                <li ng-show='vm.company_count' class="nav-field"><a ng-href="price">Reservations</a></li>
                <li class="nav-field" style="float:right"><a class="active btn btn-md btn-danger" style='color: white'
                        ng-click="vm.SignOut()">Sign
                        Out</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <ul class='search-header'>
                <li class="nav-field col-sm-4">
                    <form class="form-group" ng-submit="vm.VenueSearch()">
                        <input type='text' class='form-control' ng-model="vm.venue_search.search" placeholder="Parking no. floor no., building name etc" />
                    </form>

                </li>
                <li class="nav-field col-sm-4">
                    <div class="input-group" moment-picker="vm.venue_search.available" format="YYYY-MM-DD hh:mm:ss A"
                        change='vm.VenueList()'>
                        <span class="input-group-addon">
                            <i class="octicon octicon-calendar"></i>
                        </span>
                        <input class="form-control" placeholder="Select a date" ng-model='vm.venue_search.available'
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>


                </li>
                <li class="nav-field">
                    <button class='btn btn-md btn-danger' ng-click="vm.VenueSearchReset()">Reset</button>
                </li>
                <li class="nav-field">
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br />
            <ul class='info-header'>
                <li class="nav-field col-xs-2">
                    <button class='btn btn-primary' ng-disabled="vm.venue_list.previous===''" ng-click='vm.VenueList(vm.venue_list.previous)'>Previous</button>
                </li>
                <li class="nav-field col-xs-2">
                    &nbsp;
                    <button class='btn btn-primary' ng-disabled="!vm.venue_list.next" ng-click='vm.VenueList(vm.venue_list.next)'>Next</button>
                </li>
                <li class="nav-field col-sm-4">
                    <p class="text-center">
                        Current record:-{{vm.venue_list.results.length}}
                    </p>
                </li>
                <li class="nav-field col-sm-4">
                    <p class="text-center">
                        Total record found:-{{vm.venue_list.count}}
                    </p>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-md-12">
        <div class="row">
            <div ng-repeat="task in vm.venue_list.results" class='col-xs-1 parking-available'>
                <h5 class='text-left' ng-show='task.company_name'>{{task.company_name}}</h5>
                <h5 class='text-left'>{{task.name}}</h5>
                <button class="btn btn-primary" data-title="Booking" data-toggle="modal" data-target="#booking"
                    ng-click="vm.VenueDetail(task.id)">
                    Booking
                </button>

            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="booking" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>{{vm.venue_detail.name}}</p>
                <p>Location: {{vm.venue_detail.location}} </p>
            </div>
            <div class="modal-body">
                <div class="row" ng-show='vm.venue_detail.price'>
                    <div class="col-md-6">
                        <label class="form-control">
                            Parking price : {{vm.venue_detail.price.amount}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control">
                            For {{vm.venue_detail.price.duration}} / {{vm.venue_detail.price.duration_unit}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row" ng-show='vm.venue_detail.price'>
                    <div class="col-md-12">
                        <p class="danger">
                            Overdue chargees {{vm.venue_detail.price.overdue_amount}} /
                            {{vm.venue_detail.price.duration_unit}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>

                <div class='row'>
                    <div class="col-md-6">
                        <input class="form-control" type="text" ng-model="vm.reservation.license" placeholder="Vehicle license no." />
                    </div>
                    <div class="col-md-6">
                        <input class='form-control' type='text' ng-model='vm.reservation.phone_number' placeholder="Contact no." />
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>

                <div class='row'>
                    <div class="input-group col-md-6" moment-picker="vm.reservation.book_from" format="HH:mm A">
                        <span class="input-group-addon">
                            <i class="octicon octicon-clock"></i>
                        </span>
                        <input class="form-control" placeholder="Select a time" ng-model="vm.reservation.book_from"
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>


                    <div class="input-group col-md-6" moment-picker="vm.reservation.book_to" format="HH:mm A">
                        <span class="input-group-addon">
                            <i class="octicon octicon-clock"></i>
                        </span>
                        <input class="form-control" placeholder="Select a time" ng-model="vm.reservation.book_to"
                            ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class='form-control' type='number' ng-model='vm.reservation.payments[0].amount' />
                    </div>
                    <div class='col-md-6'>
                        <select class="form-control" ng-model='vm.reservation.payments[0].payment_type'>
                            <option ng-repeat="item in vm.payment_type" value="{{item.key}}">{{item.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-12 text-center'>
                        <br />
                        <button class="btn btn-success" ng-click='vm.CreateReservation()'>Booked</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>